<div class='component-content'>
  <div>
    <span class='component-title'>[{{title}}]</span>
    <span><a routerLink='/user/create'><img id='createnew' width='20' height='20' src='assets/userCreate.png' title='Add New'></a></span>
  </div>
  <div *ngIf='!user'>
    <img src='assets/loading.gif'>
  </div>
  <div *ngIf='user'>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="username">Username:</label>
      <div class="col-sm-8">
        <input [(ngModel)]='user.userName' name='userName' type="text" class="form-control" id="username" #userName="ngModel"
          required minlength="8">
      </div>
      <div *ngIf="userName.invalid && userName.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="userName?.errors.required">Required</label>
        <label *ngIf="userName?.errors.minlength">8 Chars Min</label>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="firstName">FirstName:</label>
      <div class="col-sm-8">
        <input [(ngModel)]='user.firstName' name='firstName' type="text" class="form-control" id="firstName" #firstName="ngModel"
          required>
      </div>
      <div *ngIf="firstName.invalid && firstName.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="firstName?.errors.required">Required</label>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="lastName">LastName:</label>
      <div class="col-sm-8">
        <input [(ngModel)]='user.lastName' name='lastName' type="text" class="form-control" id="lastName" #lastName="ngModel"
          required>
      </div>
      <div *ngIf="lastName.invalid && lastName.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="lastName?.errors.required">Required</label>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="phoneNumber">PhoneNumber:</label>
      <div class="col-sm-8">
        <input [(ngModel)]='user.phoneNumber' name='phoneNumber' type="tel" class="form-control" id="phoneNumber"
          #phoneNumber="ngModel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      </div>
      <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="phoneNumber?.errors.required">Required</label>
        <label *ngIf="phoneNumber?.errors.pattern">xxx-xxx-xxxx</label>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="email">Email:</label>
      <div class="col-sm-8">
        <input [(ngModel)]='user.email' name='email' type="email" class="form-control" id="email" #email="ngModel"
          required pattern=".+@.+.com">
      </div>
      <div *ngIf="email.invalid && email.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="email?.errors.required">Required</label>
        <label *ngIf="email?.errors.pattern">Invalid Email Format</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">IsReviewer:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="user.reviewer" class="form-control" type="checkbox" name="reviewer" #reviewer="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">IsAdmin:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="user.admin" class="form-control" type="checkbox" name="admin" #admin="ngModel">
      </div>
    </div>
    <div class='form-group'>
      <button (click)='save()' class='btn btn-primary'>Update</button>
    </div>
  </div>
</div>